# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
x64/Debug/link.2024-cvtres.read.1.tlog
x64/Debug/link.2024-cvtres.write.1.tlog
x64/Debug/link.2024-rc.read.1.tlog
x64/Debug/link.2024-rc.write.1.tlog
x64/Debug/link.2024.read.1.tlog
x64/Debug/link.2024.write.1.tlog
x64/Debug/link.6700-cvtres.read.1.tlog
x64/Debug/link.6700-cvtres.write.1.tlog
x64/Debug/link.6700-rc.read.1.tlog
x64/Debug/link.6700-rc.write.1.tlog
x64/Debug/link.6700.read.1.tlog
x64/Debug/link.6700.write.1.tlog
admixsimul.vcxproj.user
x64/Debug/admixsimul.ilk
x64/Debug/admixsimul.lastbuildstate
x64/Debug/admixsimul.log
x64/Debug/admixsimul.pdb
x64/Debug/cl.command.1.tlog
x64/Debug/CL.read.1.tlog
x64/Debug/CL.write.1.tlog
x64/Debug/config.obj
x64/Debug/extreal.obj
x64/Debug/filesystem.obj
x64/Debug/hist.obj
x64/Debug/Individual.obj
x64/Debug/link.command.1.tlog
x64/Debug/link.read.1.tlog
x64/Debug/link.write.1.tlog
x64/Debug/main.obj
x64/Debug/makemarkerfile.obj
x64/Debug/maths.obj
x64/Debug/myexcept.obj
x64/Debug/newran.obj
x64/Debug/parser.obj
x64/Debug/Population.obj
x64/Debug/simulation.obj
x64/Debug/testexpression.obj
x64/Debug/vc110.idb
x64/Debug/vc110.pdb
